.marginAz {
  margin: 0;
}

.marginVz {
  margin-top: 0;
  margin-bottom: 0;
}


//Margin top
.marginTz {
  margin-top: 0;
}

.marginTsm {
  margin-top: 5px;
}

.marginTmd {
  margin-top: 15px;
}

.marginTlg {
  margin-top: 30px;
}

.marginTxlg {
  margin-top: 40px;
}

//Margin bottom
.marginBz {
  margin-bottom: 0;
}

.marginBsm {
  margin-bottom: 5px;
}

.marginBmd {
  margin-bottom: 15px;
}

.marginBlg {
  margin-bottom: 30px;
}

.marginBxlg {
  margin-bottom: 40px;
}
