.Portfolio {
  &-block {
    opacity: 0;
    animation: fadeAndSlideIn 500ms linear both;
    &:nth-child(1) {
      opacity: 1;
      animation: none;
    }
    &:nth-child(2) {
      animation-delay: 400ms;
    }
    &:nth-child(3) {
      animation-delay: 800ms;
    }
    &:nth-child(4) {
      animation-delay: 1200ms;
    }
    &:nth-child(5) {
      animation-delay: 1600ms;
    }
    &:nth-child(6) {
      animation-delay: 2000ms;
    }
    &:nth-child(7) {
      animation-delay: 2400ms;
    }
    &:nth-child(8) {
      animation-delay: 2800ms;
    }
  }
  &-image {
    margin-right: 20px;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 2px;
    transition: all 600ms;
    @media screen and (min-width: $bpLarge) {
      &:hover {
        margin-left: -65px;
        width: 260px;
        height: 150px;
        position: relative;
        z-index: 100;
        cursor: pointer;
      }
    }
  }
  &-text {
    min-width: 230px;
    font-size: 0.8rem;
  }
  &-hashtags {
    color: $yellow;
    text-shadow: 1px 1px 1px $darkGrey;
  }
}