.Portfolio-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 2px;
  @media screen and (min-width: $bpLarge) {
    // opacity: .5;
    &:hover {
      transform: scale(1.2);
      opacity: 1;
      position: relative;
      z-index: 100;
      transition: all 1s;
    }
  }
}

.Portfolio-text {
  min-width: 230px;
}