body {
  margin: 0;
  background-color: #272727;
  color: #fff;
  font-family: 'GT Pressura Mono Light';
  font-weight: lighter;
  letter-spacing: .1rem;
}

strong {
  font-family: 'GT Pressura Mono Bold';
  letter-spacing: .05rem;
  text-transform: uppercase;
}

.App {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 4vw;
}

::selection {
  background-color: $pink;
  color: #272727;
}