body {
  margin: 0;
  background-color: $darkGrey;
  color: $white;
  font-family: 'GT Pressura Mono Light';
  font-weight: lighter;
  letter-spacing: .1rem;
}

strong {
  font-family: 'GT Pressura Mono Bold';
  letter-spacing: .05rem;
  text-transform: uppercase;
}

ul {
  padding: 0;
  list-style: none;
}

.App {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 4vw;
}

::selection {
  background-color: $pink;
  color: $white;
}