@font-face {
  font-family: 'Aften Screen Bold';
  src: url('./Fonts/Aften-Screen-Bold.ttf');
}

@font-face {
  font-family: 'GT Pressura Mono Light';
  src: url('./Fonts/GT-Pressura-Mono-Light.ttf');
}