.Blob {
  margin-top: -200px;
  position: relative;
  z-index: -3;
  max-width: 450px;
  width: 100%;
  opacity: 0;
  animation: fade-in 1200ms linear both;
  animation-delay: 3200ms;
  @media screen and (min-width: $bpMedium) {
    margin-left: 15vw;
  }
  &-fallback {
    margin-top: 5px;
    max-width: 195px;
  }
  &-container {
    width: 290px;
    height: 235px;
    position: absolute;
    z-index: -1;
    top: 0;
  }
}

// Blob animation:

#blob,
#blob circle {
  fill: pink;
}

#blob-one {
  animation: from0to360 4s linear infinite;
  cx: 125;
  cy: 95;
  r: 50;
  transform-origin: 105px 95px;
}

#blob-two {
  animation: from0to360 5s linear infinite;
  cx: 130;
  cy: 105;
  r: 75;
  transform-origin: 165px 120px;
}

#blob-three {
  animation: from0to360 6s linear infinite;
  cx: 145;
  cy: 100;
  r: 60;
  transform-origin: 160px 135px;
}

#blob-four {
  animation: from360to0 5.5s linear infinite;
  cx: 165;
  cy: 120;
  r: 70;
  transform-origin: 140px 125px;
}

#blob-five {
  animation: from0to360 5.5s linear infinite;
  cx: 165;
  cy: 120;
  r: 70;
  transform-origin: 140px 125px;
}

#blob-six {
  animation: from0to360 4.5s linear infinite;
  cx: 85;
  cy: 120;
  r: 30;
  transform-origin: 65px 120px;
}