.Link {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  &--underline {
    color: $grey;
    display: inline-block;
    &:hover {
      color: $lightGrey;
      transition: color 250ms ease-in-out;
    }
    &:after {
      display: block;
      content: "";
      border-bottom: 1px $lightGrey solid;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
    }
    &:hover:after {
      transform: scaleX(1);
    }
  }
}
